
out/production/Ascendente/.idea/vcs.xml
out/production/Ascendente/Ascendente.iml
out/production/Ascendente/.idea/modules.xml
out/production/Ascendente/.idea/misc.xml
Ascendente.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
